footer.well
    .container
        .row.text-center
            .col-sm-4
                p &copy; Copyright 2015 / Realspace, LLC
            .col-sm-4
                p
                    a(href='mailto:contact@realspacephotography.com') contact@realspacephotography.com
            .col-sm-4
                p 
                    a(href='../home') Home
                    |  / 
                    a(href='../about') About
                    |  / 
                    a(href='../portfolio') Portfolio
                    |  / 
                    a(href='../contact') Contact
