nav.navbar.navbar-default
    .container
        .navbar-header
            a.navbar-brand(href='../home')
                img(src='../assets/images/nav-logo.png', height='25')
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
                span.icon-bar
                span.icon-bar
                span.icon-bar
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='../home')#home Home
                li
                    a(href='../about')#about About
                li
                    a(href='../portfolio')#portfolio Portfolio
                li
                    a(href='../contact')#contact Contact
