extends ../assets/layout/layout.jade

block head
    link(rel='stylesheet', href='../assets/css/about.css')
    title Realspace Photography / About
    script var activePage = 'about';

block body
    .content.container
        hr
        h1 Our Services
        hr
        .row
            .col-md-4
                h2
                    i.fa.fa-eye.nudge
                    | Virtual Reality Tours
                p.lead.
                    Give your clients the ability to experience a property remotely.
                p.
                    Traditional media cannot convey the sense of presence a VR
                    tour provides. Realspace’s virtual reality pipeline allows
                    us to quickly capture and produce immersive VR tours unique
                    to the local real estate market.
                p.
                    There’s no better way to show customers your property than
                    to walk them through the door. With VR showcases, you can
                    make sales on a property regardless of location.                 
            .col-md-4
                h2
                    i.fa.fa-video-camera.nudge
                    | Aerial Imagery
                p.lead.
                    What surrounds a property is just as important as what’s
                    inside.
                p.
                    Realspace operates a specialized fleet of drones capable of
                    capturing breathtaking imagery. Our aerial media will
                    provide a completely new perspective for your audience.
                    Many Realspace customers have testified to the importance
                    of drone photography; it provides an important distinction
                    in an competetive market.
                .stats.row.text-center
                    .col-xs-4
                        .panel
                            .panel-body
                                | 4
                                small K
                    .col-xs-4
                        .panel
                            .panel-body
                                | 60
                                small FPS
                    .col-xs-4
                        .panel
                            .panel-body
                                | 12
                                small MP
            .col-md-4
                h2
                    i.fa.fa-camera.nudge
                    | Photography / Editing
                p.lead.
                    Getting photography right can make or break a sale.
                p.
                    We make sure that every space we capture looks great. Our
                    DSLR cameras use a technology known as exposure bracketing.
                    Bracketing allows the camera to capture multiple exposures of a
                    shot in a way which mimics how the human eye percieves light.
                    Just as important is our ability to set up shots which will
                    entice any potential sales prospects.
                p.
                    In addition to stunning photos, Realspace provides thorough
                    photo editing. We strive to make our final images a potent
                    selling tool.
        hr
        h1 Working with Realspace
        hr
        .row
            .col-md-4
                h3 Benefits for Realtors
                p.lead.
                    Our services are designed to serve the real estate industry.
                p.
                    Realtors who partner with Realspace never have to worry about
                    making their listings look spectacular. Having the ability to
                    focus on selling, rather than showing, allows agents to increase
                    their productivity measurably.
                .panel
                    .panel-body
                        .text-info
                            i.fa.fa-info-circle.nudge
                            | Discounts are available for high volume clients. We're
                            | always happy to make our pricing work for your business.

            .col-md-4
                h3 Media Production
                p.lead.
                    Although Realspace can fulfill most of your production and
                    editing needs, sometimes our customers want to go farther.
                p.
                    Unlike some photography studios, all of the media Realspace
                    captures is provided in edited #[em and] raw form. Having
                    the original files provides massive flexibility in how you
                    can market your property.

            .col-md-4
                h3 Turnaround
                p.lead.
                    Unedited media is available on the same day it was captured.
                p.
                    Editing and video production is finalized within 48hrs of a
                    capture. However, we are usually able to deliver your final
                    media within 24hrs. This is especially valuable for realtors
                    who depend on our imagery to activate listings.
                p.


        hr
        .btn-container.text-center
            a.btn.btn-primary.btn-lg(href='../portfolio') Our Portfolio &rsaquo;
