#background-wrapper {
    background: hsla(200, 25%, 8%, 0.9);
}

.black h1 {
    color: hsla(0, 0%, 100%, 0.9);
}
.black h2 {
    color: hsla(0, 0%, 100%, 0.8);
}
.black p {
    color: hsla(0, 0%, 100%, 0.7);
}

.frame-wrap {
    position: relative;
}
    .frame-wrap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    	height: 100%;
    }

.vr-tour {
    height: 30em;
}
.youtube {
    height: 30em;
}

#more {
    margin-top: 4em;
}
    #more h2 {
        margin-top: 0;
    }
